@import components/mixin
*
    margin: 0
    padding: 0
body
    font-family: "Rubik", sans-serif
//   scroll-behavior: smooth
a,li 
    list-style: none
    text-decoration: none
.flex-between
    display: flex
    justify-content: space-between
header
    background: url("../img/sea.jpg") no-repeat center/cover
    filter: drop-shadow(0px 20px 20px rgba(216, 216, 216, 0.24))
.nav
    padding: 20px 30px 90px
    a
        font-size: 14px
        letter-spacing: 1px
        text-transform: uppercase
        font-weight: 400
        text-align: right
        transition: all 1s ease
        color: #ffffff
    a:hover
        color: #ffb700
    .burger
        color: #fff
        border: #fff
    .ul
        margin-top: 20px
        li
            padding-left: 10px
.seatrips
    padding-top: 30px
    padding-bottom: 90px
    h1
        text-align: center
        font-size: 80px
        letter-spacing: 1px
        text-transform: uppercase
        color: #ffffff
        font-weight: 400
        padding-bottom: 10px
        position: relative
    .italic
        +italic
        color: #ffffff
        text-align: center
    .more
        +more
        text-align: center
        padding-top: 10px
        padding-bottom: 90px
.seatrips
    position: relative
    &:before 
        position: absolute
        content: ""
        width: 25%
        height: 10%
        top: 0
        left: 37%
        border-top: 4px solid #ffffff
        border-left: 4px solid #ffffff
        border-right: 4px solid #ffffff
        opacity: 0.200
    &:after 
        position: absolute
        content: ""
        width: 25%
        height: 30%
        bottom: 24%
        left: 37%
        border-bottom: 4px solid #ffffff
        border-left: 4px solid #ffffff
        border-right: 4px solid #ffffff
        opacity: 0.200
.choose
    padding-top: 90px
    padding-bottom: 50px
    text-align: center
    .italic
        +italic
        text-align: center
    .plan
        +h2
        text-align: center
    .img
        text-align: center
        padding-top: 10px   
.tours
    padding-top: 30px
    padding-bottom: 10px
    +media(1325)
        display: flex
        justify-content: space-between
    .about-company
        display: block
        max-width: 270px
        .about
            +h2
        .italic
            +italic
        .more
            +more
            padding-top: 10px
        .cours
            font-size: 13px
            color: #bbbbbb
            font-weight: 400
            padding-top: 10px
    .cards
        justify-content: center
        display: flex
        flex-wrap: wrap
        +media(767)
            display: flex
            justify-content: space-between
        .card
            width: 270px
            max-height: 300px
            background-color: #ffffff
            border: none
            margin-left: 50px
            column-gap: 20px
            transition: all 0.5s ease
            padding-bottom: 40px
            +media(767)
                padding-bottom: 0
            .img
                text-align: center
                padding-top: 20px
                padding-bottom: 10px
            .tour
                font-size: 18px
                color: #333333
                font-weight: 400
                text-align: center
            .price
                font-size: 24px
                color: #0099ff
                font-weight: 400
                text-align: center
                transition: all 1s ease
            .price:hover
                text-decoration: underline
            .description
                font-size: 13px
                color: #999999
                font-weight: 400
                font-family: "Rubik"
                padding: 0 20px
        .card:hover
            filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.05))
.second-blok
    min-width: 80%  
    padding-bottom: 100px  
    .watch
        font-size: 12px
        letter-spacing: 0px
        text-transform: uppercase
        color: #0099ff
        font-weight: 400
        text-align: center
        span
            padding-right: 10px
        svg
            width: 11px
            height: 11px
            padding-bottom: 2px
            fill: #0099ff
        hr
            height: 1px
            background-color: #dfe3e6
.island
    display: flex
    justify-content: space-between
    .info
        h2
            +h2
            max-width: 700px
        .italic
            +italic
            width: 458px
        .a
            padding: 10px 20px
            color: #fdfcfb
            font-size: 16px
            letter-spacing: 1px 
            text-transform: uppercase
            font-weight: 400
            filter: drop-shadow(0px 4px 10.5px rgba(193,139,1,0.24))
            transition: all 1s ease
            border-radius: 22px
        .detail
            border-radius: 23px
            background-color: rgba(0,153,255,0)
            border: 2px solid #0099ff
            font-size: 16px
            letter-spacing: 1px
            text-transform: uppercase
            color: #0099ff
            font-weight: 400
            text-align: center
            padding: 10px 25px
            margin-left: 10px
            &:hover
                background-color: #0099ff
                color: #ffffff
                
        .cost
            // width: 255px
            background-color: #edf2f5
            align-items: center
            margin-left: 30px
            .day
                font-size: 24px
                line-height: 44px
                color: #0099ff
                font-weight: 400
                text-align: center
                padding-top: 20px
            .service
                // width: 165px
                font-size: 13px
                line-height: 20px
                color: #999999
                font-weight: 400
                text-align: center