@import components/mixin

body
    margin: 0
    padding: 0
    font-family: "Rubik", sans-serif

html
    scroll-behavior: smooth
a,li 
    list-style: none
    text-decoration: none
.flex-between
    display: flex
    justify-content: space-between
header
    background: url("../img/sea.jpg") no-repeat center/cover
    filter: drop-shadow(0px 20px 20px rgba(216, 216, 216, 0.24))
.nav
    padding-top: 30px
    padding-bottom: 90px
    a
        font-size: 14px
        letter-spacing: 1px
        text-transform: uppercase
        font-weight: 400
        text-align: right
        transition: all 1s ease
        color: #ffffff
    a:hover
        color: #ffb700
    .burger
        color: #fff
        border: #fff
    .ul
        margin-top: 20px
        li
            padding-left: 10px
.seatrips
    padding-top: 30px
    padding-bottom: 90px
    h1
        text-align: center
        font-size: 50px
        letter-spacing: 1px
        text-transform: uppercase
        color: #ffffff
        font-weight: 400
        padding-bottom: 10px
        position: relative
        +media(768)
            font-size: 60px
        +media(992)
            font-size: 80px
    .italic
        +italic
        color: #ffffff
        text-align: center
    .more
        +more
        text-align: center
        padding-top: 10px
        padding-bottom: 90px
        position: relative
        z-index: 3
.seatrips
    position: relative
    &:before 
        position: absolute
        content: ""
        width: 35%
        height: 8%
        top: 0
        left: 32.5%
        border-top: 4px solid #ffffff
        border-left: 4px solid #ffffff
        border-right: 4px solid #ffffff
        opacity: 0.200
    &:after 
        position: absolute
        content: ""
        width: 35%
        height: 25%
        bottom: 24%
        left: 32.5%
        border-bottom: 4px solid #ffffff
        border-left: 4px solid #ffffff
        border-right: 4px solid #ffffff
        opacity: 0.200
.choose
    padding-top: 90px
    padding-bottom: 50px
    text-align: center
    .italic
        +italic
        text-align: center
    .plan
        +h2
        text-align: center
    .img
        text-align: center
        padding-top: 10px   
.tours
    padding-top: 30px
    padding-bottom: 10px
    +media(1325)
        display: flex
        justify-content: space-between
    .about-company
        display: block
        +media(1200)
            max-width: 270px
        .about
            +h2
        .italic
            +italic
        .more
            +more
            padding-top: 10px
        .cours
            font-size: 13px
            color: #bbbbbb
            font-weight: 400
            padding-top: 10px
    .cards
        column-gap: 50px
        .excursion, .order
            .green_triangle
                svg
                    position: absolute
                    top: 0
                    left: 0
                .star
                    svg
                        width: 15px
                        fill: #fff
                        position: absolute
                        top: 13px
                        left: 10px
        .velo
            .green_triangle
                svg
                    position: absolute
                    top: 0
                    left: 0
                    width: 0
                    // fill: rgba(110,69,226,0)
        .card
            position: relative
            max-width: 270px
            max-height: 300px
            background-color: #ffffff
            border: none
            column-gap: 20px
            transition: all 0.5s ease
            padding-bottom: 40px
            +media(767)
                padding-bottom: 0
            .img
                text-align: center
                padding-top: 20px
                padding-bottom: 10px
            .tour
                font-size: 18px
                color: #333333
                font-weight: 400
                text-align: center
            .price
                font-size: 24px
                color: #0099ff
                font-weight: 400
                text-align: center
                transition: all 1s ease
            .price:hover
                text-decoration: underline
            .description
                font-size: 13px
                color: #999999
                font-weight: 400
                font-family: "Rubik"
                padding: 0 20px
        .card:hover
            filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.05))
.second-blok
    min-width: 80%  
    padding-bottom: 100px  
    .watch
        font-size: 12px
        letter-spacing: 0px
        text-transform: uppercase
        color: #0099ff
        font-weight: 400
        text-align: center
        span
            padding-right: 10px
        svg
            width: 11px
            height: 11px
            padding-bottom: 2px
            fill: #0099ff
        hr
            height: 1px
            background-color: #dfe3e6
.island
    padding-bottom: 30px
    .img
        padding: 0
        margin: 0
        img
            width: 100%
    .info
        padding: 0
        padding-top: 40px
        h2
            padding-left: 15px
            +h2
            max-width: 700px
            text-align: center
            font-size: 20px
            +media(485)
                font-size: 25px
            +media(535)
                font-size: 30px
            +media(768)
                text-align: left
        .order
            padding: 0
            padding-bottom: 20px
            +media(768)
                padding-bottom: 0
        .italic
            +italic
            padding-left: 30px
            text-align: center
            +media(496)
                text-align: left
            +media(768)
                max-width: 458px
        .a
            padding: 10px 20px
            color: #fdfcfb
            font-size: 16px
            letter-spacing: 1px 
            text-transform: uppercase
            font-weight: 400
            filter: drop-shadow(0px 4px 10.5px rgba(193,139,1,0.24))
            transition: all 1s ease
            max-width: 300px
            border-radius: 22px
            margin-bottom: 10px
            +media(572)
                margin-bottom: 0
            &:hover
                color: #000000
                background-color: #fec840d8
        .buttons
            column-gap: 10px
            display: flex
            justify-content: center
            +media(768)
                justify-content: start
            padding-left: 25px
        .detail
            border-radius: 23px
            background-color: rgba(0,153,255,0)
            border: 2px solid #0099ff
            font-size: 16px
            letter-spacing: 1px
            text-transform: uppercase
            color: #0099ff
            font-weight: 400
            text-align: center
            padding: 10px 25px
            max-width: 300px
            &:hover
                background-color: #0099ff
                color: #ffffff
                
        .cost
            background-color: #edf2f5
            align-items: center
            .day
                font-size: 24px
                color: #0099ff
                font-weight: 400
                text-align: center
                padding-top: 20px
            .service
                padding-bottom: 20px
                font-size: 13px
                color: #999999
                font-weight: 400
                text-align: center
                p
                    margin-bottom: 3px
.block
    background: url("../img/sea-two.jpg") no-repeat bottom/cover
    padding-bottom: 50px
    .wave
        padding-top: 90px
        h2
            +h2
            color: #fff
            font-size: 56px
        .blue
            padding-top: 10px
            color: #0099ff
        p
            padding-top: 20px
            font-size: 16px
            line-height: 27px
            color: #ffffff
            font-weight: 400
            +media(1200)
                max-width: 500px
        .more
            margin-top: 20px
            padding: 10px 20px
            color: #fdfcfb
            font-size: 16px
            letter-spacing: 1px 
            text-transform: uppercase
            font-weight: 400
            filter: drop-shadow(0px 4px 10.5px rgba(193,139,1,0.24))
            transition: all 1s ease
            border-radius: 22px
            &:hover
                color: #000000
                background-color: #fec840d8
    .olejka
        padding-top: 90px
        text-align: center
        .italic
            padding-top: 10px
            +italic
            color: #ffffff
            line-height: 27px
        .oleg
            font-size: 18px
            color: #ffffff
            font-weight: 400
        .client
            font-size: 14px
            color: #999999
            font-weight: 400
        svg
            fill: #ffb700
    .olejka
        position: relative
        &:before 
            position: absolute
            content: ""
            width: 40%
            height: 60%
            top: 100px
            left: 0
            border-top: 4px solid #ffffff
            border-bottom: 4px solid #ffffff
            border-left: 4px solid #ffffff
            opacity: 0.200
        &:after 
            position: absolute
            content: ""
            width: 40%
            height: 60%
            top: 100px
            right: 0
            border-bottom: 4px solid #ffffff
            border-top: 4px solid #ffffff
            border-right: 4px solid #ffffff
            opacity: 0.200
.proposition
    padding-top: 80px
    padding-bottom: 30px
    .h2
        +h2
        text-align: center
    .italic
        +italic
        text-align: center
        padding-bottom: 20px
    .cards
        padding-bottom: 40px
        column-gap: 65px
        .bike, .trip, .on_island, .surfing
            max-width: 280px
        .bike
            position: relative
            .card
                &:before
                    position: absolute
                    content: ""
                    top: 0
                    left: 0
                    width: 60px
                    height: 51.5%
                    background-color: #0099ff
            svg
                position: absolute
                top: 22.5%
                left: 20px
        .card
            border: none
            background-color: #ffffff
            column-gap: 20px
            transition: all 0.5s ease
            max-width: 280px
            padding: 0
            position: relative
        .green_triangle
            svg
                position: absolute
                top: 0
                left: 0
            .star
                svg
                    width: 15px
                    fill: #fff
                    position: absolute
                    top: 13px
                    left: 10px
        .img
            width: 100%
            // margin-left: 0
        .text
            padding-left: 20px
        .tour
            padding-top: 10px
            font-size: 18px
            color: #333333
            font-weight: 400
        .description
            font-size: 13px
            color: #999999
            font-weight: 400
            padding-left: 0
        .price
            font-size: 24px
            color: #0099ff
            font-weight: 400   
            margin-bottom: 0 
        .order
            padding: 0
            margin: 0 
            padding-top: 8px
            a
                font-size: 13px
                letter-spacing: 1px
                text-transform: uppercase
                color: #ffb700
                font-weight: 400
        .card:hover
            filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.05))
    hr
        height: 1px
        background-color: #dfe3e6
.information
    .h2 
        +h2
        text-align: center
        padding-bottom: 30px
        +media(1200)
            padding-bottom: 0
    .hotel
        max-height: 269px
        // max-width: 270px
        margin-bottom: 20px
        .card
            background: url("../img/hotel.png") no-repeat
            .download
                margin-top: 35px
    .food
        max-height: 269px
        // max-width: 270px
        margin-bottom: 20px
        .card
            background: url("../img/food.png") no-repeat 
        // column-gap: 50px
    .hotel, .food
        .card
            border: none
            border-radius: 0
            min-height: 269px
            max-width: 270px
            .img
                padding-top: 15px
                padding-left: 30px
            .type
                font-size: 18px
                color: #ffffff
                font-weight: 400
                max-width: 200px
                padding-top: 10px
                padding-left: 25px
            .size
                font-size: 13px
                color: #bbbbbb
                font-weight: 400
                padding-left: 10px
                padding-top: 5px
            .description
                font-size: 13px
                color: #fefefe
                font-weight: 400
                padding-left: 15px
                padding-bottom: 20px
            .download
                margin-left: 15px
                border-radius: 16px
                background-color: rgba(255,183,0,0)
                border: 2px solid #ffb700
                max-width: 110px
                transition: all 2s ease
                padding: 2px 13px
                .a
                    font-size: 12px
                    letter-spacing: 0px
                    text-transform: uppercase
                    color: #ffb700
                    font-weight: 400
                    text-align: center
                    padding-left: 5px
                &:hover
                    background-color: #ffb700
                    a, svg
                        color: #000
                        fill: #000
                        
                img
                    padding-right: 5px
    .question
        p
            margin: 0
            padding: 0
        padding-top: 15px
        .p
            font-size: 18px
            letter-spacing: 1px
            color: #333333
            font-weight: 400
            position: absolute
            top: -3.5%
            left: 40%
            +media(992)
                left: 26%
        .text
            text-align: center
            margin-left: 75px   
            font-size: 13px
            color: #999999
            font-weight: 400
        .phone
            text-align: center
            padding-top: 20px
            padding-bottom: 15px
            svg 
                fill: #0099ff
                max-width: 15px
                padding-bottom: 2px
            .span 
                font-size: 18px
                color: #0099ff
                font-weight: 400
        .anna
            font-size: 18px
            color: #333333
            font-weight: 400
            text-align: center
            margin: 0
        .consultant
            font-size: 13px
            color: #999999
            font-weight: 400
            text-align: center
            padding-bottom: 10px
        .img
            text-align: center
    .question
        position: relative
        &:before 
            position: absolute
            content: ""
            width: 20%
            height: 78%
            top: 0
            left: 0
            border-top: 4px solid #ffb700
            border-bottom: 4px solid #ffb700
            border-left: 4px solid #ffb700
        &:after 
            position: absolute
            content: ""
            width: 20%
            height: 78%
            top: 0
            right: 0
            border-bottom: 4px solid #ffb700
            border-top: 4px solid #ffb700
            border-right: 4px solid #ffb700
footer
    min-height: 400px
    background: url("../img/island_footer.jpg") no-repeat top
    filter: drop-shadow(0px 30px 30px rgba(85, 85, 85, 0.289))