doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap' rel='stylesheet')
        title Document
    body
        include components/mixin
        header
            .   
                nav.nav.navbar.navbar-expand-lg
                    .container-fluid
                        img.img(src="img/slogo.png", alt="")
                        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                            span.navbar-toggler-icon
                        #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
                            .navbar-nav.ul
                                ul(class="d-flex align-content-center flex-wrap")
                                    li 
                                        a.nav-link(href='#') Гoловна 
                                    li 
                                        a.nav-link(href='#') послуги         
                                    li 
                                        a.nav-link(href='#') про компанію         
                                    li 
                                        a.nav-link(href='#') Акції         
                                    li 
                                        a.nav-link(href='#') Партнери         
                                    li 
                                        a.nav-link(href='#') відгуки         
                                    li 
                                        a.nav-link(href='#') Контакти      
                .seatrips
                    h1(class="fs-1").fs-1 Морські пригоди
                    .italic
                        p(class="fst-italic") Не важливо, чи Ваша мандрівка належить до елітного рівня чи до
                        p(class="fst-italic") економваріанту, туроператор S trips потурбується, щоб Ви залишились
                        p(class="fst-italic") задоволеними!
                    p.more
                        +button(more)
                    .choose
                        .h2.plan
                            p обери свій
                            p план подрожі
                        p(class="fst-italic").italic.dark Наша фірма -лідер на ринку у своїй сфері
                        p.img
                            img(src="img/arrow.png", alt="")

        script(src="js/scripts.js")